[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-database-url = "*"
botocore = "*"
boto3 = "*"
collectfast = "*"
python-decouple = "*"
sentry-sdk = "*"
psycopg2-binary = "*"
urllib3 = "*"
django-ordered-model = "*"
gunicorn = "*"
django-s3-folder-storage = "*"

[dev-packages]
blue = "*"
django-debug-toolbar = "*"
flake8 = "*"
isort = "*"
pytest-django = "*"
pytest-cov = "*"
model-bakery = "*"
codecov = "*"

[requires]
python_version = "3.11"
