{% extends 'base.html' %} {% block content %}


<div class="center">
  <h5>{{ video.titulo|default:"tenta outra" }}</h5>
<iframe  src="https://www.youtube.com/embed/{{ video.video_id}}" width="1080" height="720"
  title="YouTube video player"
  frameborder="50"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
>
</iframe>
</div>

{% comment %}
<!-- <div class="right">
  mais vídeos do autor <br>
  {% for v in video %}
  <b> {{ v.titulo }}</b>
  {% endfor %}
</div> -->
{% endcomment %}
{% endblock content %}
